[Desktop Entry]
Type=Service
Icon=utilities-terminal
Actions=OpenAsRootKDE5
MimeType=inode/directory;inode/directory-locked
[Desktop Action OpenAsRootKDE5]
Exec=bash -c 'if [ "$XDG_SESSION_TYPE" = "wayland" ]; then xhost +si:localuser:root && pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY KDE_SESSION_VERSION=5 KDE_FULL_SESSION=true dbus-launch thunar "$1" && xhost -si:localuser:root ; else pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY KDE_SESSION_VERSION=5 KDE_FULL_SESSION=true thunar "$1"; fi;' "" %U
Icon=system-file-manager
Name=Open as Root
